[submodule "microservices/shop-spring-ordering"]
	path = microservices/shop-spring-ordering
	url = git@github.com:john182/shop-spring-ordering.git
[submodule "microservices/shop-spring-docs"]
	path = microservices/shop-spring-docs
	url = git@github.com:john182/shop-spring-docs.git
